@font-face {
    font-family: 'NomDeLaPolice';
    src: url('../police/adlery-pro-blockletter-trial.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
} 

.bigbox{
    display: flex;
    width: 100%;
    justify-content: center;
}

.orga{
    display: flex;
    max-width: 65vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    background-color: #f3dbdb;
    margin-bottom: 20px;
    margin: auto;
    padding: 15px;
}

.selectGrm{
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.ingre-label {
    flex: 1;
    margin-right: 10px; 
}

.grammage-input {
    flex: 2; 
    width: 100%; 
}


#formulaireGram{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width:100%;
    overflow-y: auto;
    align-items: center;
}

.tout{
    display: flex;
    grid-template-columns: 1fr 1fr;
    max-width: 65vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    background-color: #f3dbdb;
    margin-bottom: 20px;
    margin: auto;
}

.box{
    grid-column: 1;
    margin: 20px;
}

.box2{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin: 20px;
}


.searchContainer_ingr{
    margin-bottom: 20px;
}

.boutons_form{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.parent{
    display: flex;
    justify-content: flex-end; /* Aligne le conteneur à droite */
    margin: 20px; /* Ajoute une marge autour du conteneur */
}

.etape{
    margin-left: 10px;
}


input{
    position: relative;
    display: inline-block;
    font-size: 2vw;
}

input[type="text"]
{
    background: #ffffff;
    width: 30vw;
    height: 5vh;
    font-size: 2.5vh;
    border:none;
    outline: none;
    padding: 0 1vw;
    border-radius: 1vw 1vw 1vw 1vw;
    margin-bottom: 5%;
}

input[type="textarea"]
{
    background: #fff;
    width: 30vw;
    height: 5vh;
    font-size: 2.5vh;
    border:none;
    outline: none;
    padding: 0 1vw;
    border-radius: 1vw 1vw 1vw 1vw;
    margin-bottom: 5%;
}

input[type="number"]
{
    background: #fff;
    width: 30vw;
    height: 5vh;
    font-size: 2.5vh;
    border:none;
    outline: none;
    padding: 0 1vw;
    border-radius: 1vw 1vw 1vw 1vw;
    margin-bottom: 5%;
}

#Instruction{
    height: 200px;
}


.phraseProp {
    font-size: 5vw;
    font-family: 'NomDeLaPolice', sans-serif;
    text-align: center;
    white-space:normal ;
    color: rgb(248, 233, 233);
    z-index: 1; 
    margin-top: 20px;
}

.difficulte{
    position: relative;
    color:#fff;
    background-color:rgb(123, 8, 8);
    width: 30vw;
    height: 5vh;
    font-size: 2.5vh;
    border:none;
    outline: none;
    padding: 0 1vw;
    border-radius: 1vw 1vw 1vw 1vw;
    margin-bottom: 5%;
}
.difficulte:hover
{
    background: rgb(110, 65, 65) ;
}

.valid{
    border-radius: 1vw 1vw 1vw 1vw;
    font-size: 2.5vh;
    width: 10vw;
    height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(123, 8, 8);
    color : white   
}

.valid:hover
{
    background: rgb(110, 65, 65) ;
}

#lien_se_connecter{
    text-decoration: none;
    color: black;
}

.flou{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../image/2x-2x-fond.png');
    -webkit-filter: blur(2px);
    z-index: -1;
    background-size: cover;
}

.ingredient-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;

}

.ingredient-checkbox label {
    background-color: #fff; /* Couleur de fond blanche */
    display: block; /* Permet de définir une hauteur et une largeur à l'élément */
    padding: 5px; /* Espacement intérieur pour un meilleur aspect */
    margin-bottom: 5px; /* Espacement entre chaque case à cocher */
}

/* Styles pour la barre de recherche */
#searchInput {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#checkboxContainer {
    max-height: 200px; /* Hauteur maximale */
    overflow-y: auto; /* Activer le défilement vertical automatique */
    background-color: #ffffff;
    border-radius: 1vw 1vw 1vw 1vw;
    max-width: 220px;
    padding: 10px;
    display: block;
}


.ingre{
    color: white;
}

.hidden {
    display: none;
}

.hidden-checkbox {
    display: none;
}



