.log {
    float: left;
    margin: 1%;
    height: 80%; /* Définir la hauteur du logo en pourcentage de la hauteur du header */
}

.log a {
    display: block;
    height: 100%;
}

.img_log {
    width: auto; /* Ajuster la largeur automatiquement en fonction de la hauteur spécifiée */
    height: 100%; /* Définir la hauteur du logo en pourcentage de la hauteur du header */
}


@font-face {
    font-family: 'NomDeLaPolice';
    src: url('../police/adlery-pro-blockletter-trial.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(../image/fond_connexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.na {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    line-height: 100px;
    background:  rgb(123, 8, 8);
    z-index: 100;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 10vw;
    height: 5.5vh;
    font-weight: 500;
    background: rgb(248, 208, 208);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(226, 131, 131, 0.767);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgb(255, 255, 255);
}
.btn.btn.white-btn:hover{
    background: rgba(167, 112, 112, 0.836);
}
.nav-menu-btn{
    display: none;
}   


.card-img-top{
    margin-top: 10px;
}
.phraseProp {
    padding-top: 50px;
    font-size: 5vw;
    font-family: 'NomDeLaPolice', sans-serif;
    text-align: center;
    white-space:normal ;
    color: rgb(248, 233, 233);
    z-index: 1; 
}

.bigbox {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    max-width: calc(1200px + 15px);
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: calc(25% - 5px);
    margin-right: 5px;
}




#lien_se_connecter{
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .fi-sr-user {color: #999;}

.user-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f9f9f9;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.user-circle i {
    color: black;
    font-size: 20px;
}

.user-info img {
    margin-left: 10px;
    vertical-align: middle;
}