section{
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 1000px;
    height: auto;
    margin-top: 25px;
}

.backof{
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    background-color: #f3dbdb;
    margin-bottom: 20px;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../image/2x-2x-fond.png');
    background-size: cover;
}