@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.wrapper{
    height: 100%;
    width: 100%;
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    line-height: 100px;
    background:  rgb(123, 8, 8);
    z-index: 100;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
background-color: #000000;
background: url(image/fond_connexion.jpg);
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 90vh;
}

.container{

    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 1200px;
    max-width: 100%;
    min-height: 520px;
}

.container span{
    font-size: 12px;
    padding-bottom: 10%;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: rgb(103, 0, 0);
    color: white;
    font-size: 12px;
    padding: 10px 45px;
    border: 2px solid;
    border-radius: 8px;
    border-color: #000000;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 75%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;

}

.sign-in{
    left: 0;
    width: 47%;
    background:  rgb(123, 8, 8);
    opacity: 0.9;
    border-radius: 0 100px 0 0;
    color: white;
}
.sign-in:hover{
    background:rgb(162, 21, 21);
    color: white;

}

.sign-up{
    right: 0;
    width: 47%;
    background: rgb(123, 8, 8);
    opacity: 0.9;
    border-radius: 100px 0 0 0;
    color: white;
}
.sign-up:hover{
    background:rgb(162, 21, 21);
    color: white;
}