.logo {
    float: left;
    margin: 1%;
    height: 80%; 
}

.logo a {
    display: block;
    height: 100%;
}

.img_logo {
  
    width: auto; 
    height: 100%; 
}

.wrapper{
    height: 100%;
    width: 100%;
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    line-height: 100px;
    background:  rgb(123, 8, 8);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-menu ul{
    display: flex;
    visibility: hidden;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}


/* debut du contenu*/

body{
    background: url(image/fond_connexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: columns;
}
  form {
    
    margin-top: 200px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    

    
  }
  form h1{
    color: rgb(123, 8, 8);
    text-align:center;
  }

  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type='text']{
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color:#f2f2f2;
    outline:none;
    margin-bottom: 15px;
  }

a{
    color: #000000;
    text-decoration: none ;

    
}
  form button{
    border-radius: 5px;
    border:none;
    color: #fff;
    background-color: rgb(123, 8, 8);
    outline:none;
    cursor:pointer;
    display: flex;
    flex-direction: column;
  }

  form button:hover{
    background-color: #f74e4b;
  }

  .connecter{
    margin-bottom: 3%;
    padding: 15px 25px;
    font-size: 15px;
  }
  .compte{
    padding: 7px 10px;
    font-size: 12px;
  }
