.log {
    float: left;
    margin: 1%;
    height: 80%; /* Définir la hauteur du logo en pourcentage de la hauteur du header */
}

.log a {
    display: block;
    height: 100%;
}

.img_log {
    width: auto; /* Ajuster la largeur automatiquement en fonction de la hauteur spécifiée */
    height: 100%; /* Définir la hauteur du logo en pourcentage de la hauteur du header */
}


@font-face {
    font-family: 'NomDeLaPolice';
    src: url('police/adlery-pro-blockletter-trial.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(image/fond_connexion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




.card-img-top{
    margin-top: 10px;
}
.phraseProp {
    padding-top: 200px;
    font-size: 5vw;
    font-family: 'NomDeLaPolice', sans-serif;
    text-align: center;
    white-space:normal ;
    color: rgb(248, 233, 233);
    z-index: 1; 
}

.bigbox {
    margin-top: 100px;
    display: flex;
    max-width: calc(1200px + 15px);
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: calc(25% - 5px);
    margin-right: 5px;
}




#lien_se_connecter{
    text-decoration: none;
    color: black;
}
