#nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(123,8,8);
    align-items: center;
}

#divun{
    display: flex;
}

nav #menu ul{
    display: flex;
}

nav #menu li{
    display: inline;
    padding: 0px 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

nav #menu li:hover{
    background: #333;
}

nav #menu li a{
    color: #fff;
}

.card.hidden{
    display: none;
}


@media(max-width: 768px){
    .img_logo{
        height: 25px;
    }
    #divun .img_logo{
        position: absolute;
        top: 10px;
        left: 25px;
    }
    #burger{
        display: block;
        position: absolute;
    }
    .divdeux{
        top: 0;
        left: 0;
        position: absolute;
        background-color: red;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .divdeux.mobile-menu{
        margin-left: 0;
    }

    .divdeux ul{
        display: flex;
        flex-direction: column;
    }

    .divdeux ul li{
        margin: 30px 0px;
        font-size: 1.5em;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1000px;
    border-radius: 30px;
    background-color: white;
}

#burger{
    position: absolute;
    top: 10px;
    right: 25px;
    height: 50px;
    font-weight: 50px;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 1000px;
    height: auto;
    background-color: gray;
    margin-top: 25px;
}

.card{
    align-items: center;


}

.bouttonveg{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.bouttonveg h3{
    margin-right: 25px;
}

.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 1.8em;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #aeaaae;
    transition: .4s;
   }
   
   input:checked + .slider::before {
    background-color: var(--primary);
   }
   
   input:checked + .slider {
    background-color: var(--secondary-container);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
   }
   
   input:checked + .slider:before {
    transform: translateX(1.9em);
   }






























#ham{
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
    background-color: aqua;
}







































.logo {
    float: left;
    height: 60%; /* Définir la hauteur du logo en pourcentage de la hauteur du header */
}

.logo a {
    display: block;
    height: 60%;
}

.img_logo {
    width: auto; /* Ajuster la largeur automatiquement en fonction de la hauteur spécifiée */
    height: 70%; /* Définir la hauteur du logo en pourcentage de la hauteur du header */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.pageFormulaire{
    height: 100%;
    width: 100%;
    margin: 0;
    background: url(image/fond_page_accueil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666;
    background-position: center;
    z-index: -1;
}


.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 10vw;
    height: 5.5vh;
    font-weight: 500;
    background: rgb(248, 208, 208);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(226, 131, 131, 0.767);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgb(255, 255, 255);
}
.btn.btn.white-btn:hover{
    background: rgba(167, 112, 112, 0.836);
}
.nav-menu-btn{
    display: none;
}

.footer {
    margin: 0;
    border-top: 2px solid rgb(255, 255, 255);
    background: rgb(123, 8, 8);
    height: 5%;
    width: 100%;

}

@font-face {
    font-family: 'NomDeLaPolice';
    src: url('police/adlery-pro-blockletter-trial.ttf') format('truetype');
}


.box{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    position: relative;
    display: inline-block;
    font-size: 2vw;
}

input[type="text"]
{
    background: #fff;
    width: 30vw;
    height: 5vh;
    font-size: 2.5vh;
    border:none;
    outline: none;
    padding: 0 1vw;
    border-radius: 1vw 0 0 1vw;
}

input[type="submit"]
{
    position: relative;
    border-radius: 1vw 1vw 1vw 1vw;
    font-size: 2.5vh;
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(123, 8, 8);
    color : white
}

input[type="submit"]:hover
{
    background: rgb(110, 65, 65) ;
}
.titre {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 5vw;
    font-family: 'NomDeLaPolice', sans-serif;
    text-align: center;
    white-space:normal ;
    color: rgb(248, 233, 233);
    z-index: 1; 
}

.wrapper{
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666;
    background-position: center;
    z-index: -1;
}



