.logo {
    float: left;
    margin-right: 20px; 
}

.visible {
    display: inline-block;
}

.invisible {
    display: none;
}

header {
    background-color: rgb(123,8,8);
    color: #666;
    padding: 10px; 
    text-align: center; 
}

.section{
    background-color:rgb(202,201,207);
    color: #000000; 
    padding: 20px;
    text-align: left; 
    font-size: 18px;

}
.recherche_default{
    border: 1px solid #000;
    background-color: white;

}
.recherche_default li{
    margin: 0.2%;
}
.formulaire{
    border: 1px solid #000;
    background-color:rgb(182,178,178) ;
    margin: 0.5%;
}
#type_pref{
    display: inline-block;
    padding-left: 2%;
}
.ingredient input[type="radio"] {
    margin-right: 80px; 
}

.ingredient label {
    display: inline-block; 
    width: 100px; 
    margin-bottom: 10px; 
}
.prixTempsSale input[type="radio"] {
    margin-right: 10px; 
}

.prixTempsSale label {
    display: inline-block; 
    width: 100px; 
    margin-bottom: 10px;  
}

