@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@700&family=Noto+Sans+Symbols+2&family=Spectral:wght@600&display=block");

@font-face {
    font-family: 'NomDeLaPolice';
    src: url('../police/adlery-pro-blockletter-trial.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container_form {
    max-width: 90vw;
    margin: 0 5%;
    margin-bottom: 0;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
}

#choix_categorie {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid white;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5vh;
}

#navBar {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Alignement des liens sur le début */
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne */
}

.titre_Form{
    width: 100%;
    font-family: 'NomDeLaPolice';
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 7vh;
    font-size: 3.5vw;
    color: white;
}

.aide_categorie{
    margin-left: 5%;
    color: white;
    margin-bottom: 0;
    font-size: 2vw;
    font-family: 'NomDeLaPolice';
}

#navBar a {
    color: #fff;
    font-family: NomDeLaPolice, sans-serif;
    text-decoration: none;
    font-size: 1.8vw;
    flex-shrink: 0;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-right: solid;
    border-radius: 0 20px 20px 0;
    transition: all 0.3s ease;
    width: 9.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 8, 8);
}

#navBar a:hover,
#navBar a.active {
    background-color: rgba(226, 131, 131, 0.767);
    flex-grow: 2;
}



.background {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/fond_connexion.jpg');
    -webkit-filter: blur(6px);
    background-size: cover;
    z-index: -1;
}


input[type="radio"] {
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    margin: auto;
    display: block;
}

input[type="radio"]:checked {
    accent-color: rgb(123, 8, 8);

}

.boutons_form {
    float: right;
    display: flex;
    margin-right: 4.5%;
    margin-top: 1%;
}

.recherche_aliment {
    font-family: 'NomDeLaPolice';
    color: white;
    display: flex;
    font-size: 1.5vw;
    margin-bottom: 1vh;
    margin-left: 30px;

}

.aide_preference{
    margin-left: 30px;
    font-family: 'NomDeLaPolice';
    font-size: 2vw;
    margin-bottom: 2vh;
}

#input_recherche {
    margin-left: 5px;
    width: 350px;
    font-size: 1vw;
    border-radius: 10px;
}

#input_recherche::placeholder {
    margin-left: 5px;
    font-size: 1vw;
}

.div_formulaire {
    flex: 1;
    overflow-y: auto;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.highlighted {
    background-color: #be5906;
}


table { 
    border-collapse: collapse;
    width: 100%;
    font-size: 1.5vw;
}

td {
    border: 0.5px solid #fff;
    padding: 8px;
    width: calc(100% / 7);
    font-family: NomDeLaPolice, sans-serif;
}

table tr td:nth-child(1),
table tr td:nth-child(2) {
    border: 3px solid #fff;
}

table tr td:second-child {
    border: 3px solid #fff;
}

th {
    border: 3px solid #fff;
    padding: 8px;
    width: calc(100% / 7);
    font-family: NomDeLaPolice, sans-serif;
    background: rgb(123, 8, 8);

}

#preferenceBtn {
    margin-left: 30px;
    margin-bottom: 15px;
    width: 15vw;
    height: 4vh;
    font-size: 1.1vw;
    font-weight: 500;
    background: rgb(123, 8, 8);
    border: none;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

#preferenceBtn:hover {
    background: rgba(226, 131, 131, 0.767);
}



#registerBtn {
    margin-left: 15px;
}

#annulerBtn {
    width: 8vw;
    height: 4vh;
    font-size: 1.3vw;
    background: rgb(248, 208, 208);
    border: none;
    cursor: pointer;
    border-radius: 1vw 0 0 1vw;
}

#annulerBtn:hover {
    background: rgba(226, 131, 131, 0.767);
}

#validerBtn {
    width: 8vw;
    height: 4vh;
    font-size: 1.3vw;
    border-radius: 0 1vw 1vw 0;
    border: none;
    cursor: pointer;
    background: rgb(123, 8, 8);
    color: white
}

#validerBtn:hover {
    background: #be5906;
}

.modal-annuler, .modal-préférence  {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
}

.modal-annuler.active, .modal-préférence.active  {
    transition: visibility 0s;
    visibility: visible;

}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-annuler.active .overlay, .modal-préférence.active .overlay  {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal, .modalPref {
    display: flex;
    flex-direction: column;
    opacity: 0;
    display: block;
    width: 95%;
    height: 300px;
    max-width: 600px;
    min-width: 330px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
        transform 0.4s ease-out;
}

.modalPref{
    height: 350px;
}

.modal-annuler.active .modal, .modal-préférence.active .modalPref {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
        transform 0.4s 0.2s ease-out;
}

.modal-title{
    border-bottom: solid 2px black;
}

.close-modal {
        border: none;
        border-radius: 5px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        background: #857e7f;
        color: #fff;
}

.modal-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.modal-text{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
}

.btn-annuler-modal, .btn-retour-modal, .btn-reinitialiser-modal {
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding:5px;
    flex: 1;
}

.btn-annuler-modal, .btn-reinitialiser-modal {
    background: #ff365e;
}

.btn-retour-modal {
    background: #857e7f;
}

.modal h1, .modalPref h1 {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.modal p, .modalPref p {
    line-height: 1.4;
    margin-bottom: 5px;
}

#form_pref{
    margin-bottom: 80px;
}

