#nav{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    background-color: rgb(123,8,8);
    justify-content: center;
    align-items: center;
    height:75px;
    z-index: 10;
}

.imgLogoNav{
    display: flex;
    justify-content: center;
    grid-column: 1;
}

.titreMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    width: 100%;
}

.boutonConnexion{
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
    grid-column: 3;
    padding-right: 10px;
}


.boutonHamburger{
    display: none;
}

nav #menu ul{
    display: flex;
}

nav #menu li{
    display: inline;
    padding: 0px 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


nav #menu li a{
    color: #fff;
}

.hidden{
    display: none;
}

.imageCard{
    height: 250px;
    width: 250px;
}

@media(max-width: 900px){
    .img_logo{
        display: none;
    }
    

    .titreMenu{
        position: absolute;
        top: 75px;
        left: 0;
        background-color: rgb(220, 84, 84);
        width: 250px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        z-index: 5;
        transition: all 0.5s ease;
    }

    .s_recherche{
        margin-top: 250px;
    }

    .titreMenu.mobile-menu{
        margin-left: 0;
    }

    .titreMenu ul{
        display: flex;
        flex-direction: column;
    }

    .titreMenu ul li{
        margin: 30px 0px;
        font-size: 1.5em;
    }

    .boutonHamburger{
        display: flex;
        justify-content: center;
        height: 100%;
    }

}


.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.link{
    text-decoration: none;
}

.boutonConnexion .btn{
    background: rgb(248, 208, 208);
    cursor: pointer;
    transition: .3s ease;
}

.btn.white-btn{
    background: rgb(255, 255, 255);
}
.btn.btn.white-btn:hover{
    background: rgba(167, 112, 112, 0.836);
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }

.burger input {
display: none;
}

.burger span {
display: block;
position: absolute;
height: 4px;
width: 100%;
background: black;
border-radius: 9px;
opacity: 1;
left: 0;
transform: rotate(0deg);
transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
top: 0px;
transform-origin: left center;
}

.burger span:nth-of-type(2) {
top: 50%;
transform: translateY(-50%);
transform-origin: left center;
}

.burger span:nth-of-type(3) {
top: 100%;
transform-origin: left center;
transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
transform: rotate(45deg);
top: 0px;
left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
width: 0%;
opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
transform: rotate(-45deg);
top: 28px;
left: 5px;
}

#footer {
    font-size: 12px;
    margin-top: 0;
    background-color: rgb(123, 8, 8);
    color: #fff;
}

.footer {
margin-top: 45px;
padding-top: 35px;
padding-bottom: 10px;
border-top: 1px solid #e5e5e5;
}
.lien{
    color: #00f7ff;
}
.btn_footer{
    background-color:#666;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    color: #fff;
}

.btn_footer:hover{
    background-color: rgb(247, 189, 189);
    color: white;
    text-decoration: none;
}

#lien_se_connecter{
    text-decoration: none;
    color: black;
}